.banner-content{
    width: 100%;
    overflow: hidden;
    padding-top: 5%;
    img{
      width: 100%;
      height: auto;
      object-fit: cover;
      max-height: 400px; 
      display: block;
    }
  }