
#palomitas {
    animation: palomitas 10s infinite linear;
    transform-box: fill-box;
    transform-origin: 90% 90%;
}

@keyframes palomitas {
    0% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0); }
  }

/* Clip-path para imagen creativa en la portada */
.clipped-image {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
  }
  
  .clipped-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
  }
  
  .clipped-image:hover img {
    transform: scale(1.1);
  }
  
  .clip-movie-reel {
    clip-path: polygon( 0.00% 11.20%, 100% 2.20%, 100% 17.20%, 7.00% 26.00%, 7.80% 27.80%, 99.80% 26.20%, 100% 100%, 0.00% 100%, 0.00% 10.00% );
   }